header {
    background: rgb(102, 0, 153);
    padding: 0;
    margin-bottom: 2em;
}

header h1 {
    color: #eee;
}

footer {
    background: rgb(102, 0, 153);
    color: white;
    padding: 1em;
    font-size: 9pt;
    margin: 2em 0 0 0;
}

ul.gallery li a {
    display: block;
    text-align: center;
}

form input[type="range"] {
    width: 100%;
}

